body {
    font-family: Arial, sans-serif;
}

.Title {
    text-align: left;
    margin-top: 20px;
}

.Times, .Names, .Messages {
    padding: 10px;
    text-align: center;
}

table {
    width: 20%;
    border-collapse: collapse;
}

th, td {
    border: 20px solid #000000;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
